<div class="main-content">
    <h2 class="main-heading">Welcome to my Web Application</h2>   
    <p>
    Hello, my name is Thomas Greco, and welcome to my web application built with AngularJS on top of the node platform. Although I am a self-taught developer, I was no stranger to technology when I decided to focus on programming. Moreover, I first worked as a social-media marketer, before receiving a job in graphic design, another field in which I am so utterly passionate about. Now, almost three years later, I possess the ability to rapidly created detailed mock-ups using Illustrator, or PhotoShop, and have come to greatly value the proper use of design according to the overall context of the project. Additionally, I spent the greater portion of the past year and studying different technologies in Sass CSS, and JavaScript, and succeeded in building an extremely strong foundation regarding full stack JavaScript applications. </p>
    <hr>
<h2 class="main-heading"> My Time In Web Development</h2>
        <p>As a self-taught developer, I often times had to spend hours trying to figure out solutions to problems that at sometimes looked completely foreign to me. Although these times were indeed difficult, I strongly believe that the perserverence which I displayed during these times played a large role in my growth as a developer. Additionally, it was this hunger for knowledge that continuously pushed me to learn more, specificially regarding full stack applications built with JavaScript in the backend. Additonally, my love for web development grew in direct correlation with my knowledge as I finally understood the inner-workings of Rest API's, the client-server model, PaaS, and so much more. In addition to the page I created regarding this application, I have created a <a ui-sref="contact">Contact form</a>, which you can use to reach out to me if you are curious about any projects I am working on, or if you have a job in which you feel as though I would be a good fit.</p>


    <div class="mc-slider">
        <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
            <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>
</div>