<div class="main-content">
    <h2 class="main-heading">Welcome to thomasgreco.me!</h2>
    <p>
        Thank you for visiting my web application. My name is Thomas Greco, and I am a web developer based out of New York City. Specifically, my main focus is building web applications with the help of isomorphic JavaScript. This application was custom built by myself using the M.E.A.N. stack. By visiting this applications <a ui-sref="about">technologies state</a>, you can read more about the specific things I focused on when building this application.
        <br>
        <br> In addition to programming thomasgreco.me, I also created the layout, and designed the logo using Adobe Illustrator. Before focusing on web development, I worked in graphic design, which had a tremendous impact on the way I approach development. Moreover, I value the proper use of design to help achieve the best possible user experience.
        <br>
        <br> If you are interested in working with me, or simply have a question, fill out this <a ui-sref="contact">contact form</a> and I will get back to you as soon as possible!
    </p>
    <hr>
    <h2 class="main-heading">Newest member of the blogging community</h2>
 <p>While studying web development, I consistently took notes in order to further proceess the information that I was learning; I did not, however, utilize the tool of blogging. Although I wish I had, the only viable response is to implement one now, and so I have. The content that I currently have can be viewed <a href="http://thomasgreco.herokuapp.com/" target="_blank">thomasgreco.herokuapp.com</a>. Additionally, I have been working with ghost as an NPM module, and I am leaning towards point the blog to run on a subdomain of thomasgreco.me.</p>
    </p>
    <h2 class="text-center">Some of my favorite technologies to use:</h2>
    <div class="mc-slider">
        <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
            <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>
</div>