<div class="main-content">
    <h2 class="main-heading">Welcome to thomasgreco.me</h2>   
    <p>
    The page you are viewing is a Single Page Web Appliation, built on top of the node platform. To learn more over the specific technologies used in this web application, you can visit the applications <a ui-sref="about">about state</a>. That said, I developed this web application to help showcase both my passion and knowledge of web development. Before finding myself passionate about building web applications, I worked asa graphic designer for <a href="http://sodexousa.com/usen/default.aspx" target="_blank">Sodexo USA</a>, which is when I realized I had a gift for visualizing intriguing graphics. As someone who values web design extremely highly, my proficiency in using PhotoShop, and Illustrator played a huge role in my growth as a web developer. <br>
    That said, I offer more than just the ability to program highly functional web applications. I possess a similar love for typography, as I do Angular, because I know how important both aspects when trying to achieve stunning User Interfaces.
    <hr>
<h2 class="main-heading"> My Time In Web Development</h2>
        <p>As a self-taught developer, I often times had to spend hours trying to figure out solutions to problems that at sometimes looked completely foreign to me. Although these times were indeed difficult, I strongly believe that the perserverence which I displayed during these times played a large role in my growth as a developer. Additionally, it was this hunger for knowledge that continuously pushed me to learn more, specificially regarding full stack applications built with JavaScript in the backend. Additonally, my love for web development grew in direct correlation with my knowledge as I finally understood the inner-workings of Rest API's, the client-server model, PaaS, and so much more. In addition to the page I created regarding this application, I have created a <a ui-sref="contact">Contact form</a>, which you can use to reach out to me if you are curious about any projects I am working on, or if you have a job in which you feel as though I would be a good fit.</p>


    <div class="mc-slider">
        <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
            <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>
</div>