<div class="container">
    <h2 class="text-center">Get in Touch with Me Today!</h2>
    <p>Whether you are curious about any projects I am currently working on, or simply introducing yourself, I enjoy continuously growing my network in the web development community. Therefore, you can easily get in touch by submitting the following information, which I ensure to respond to A.S.A.P </p>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-9 col-centered">
            <label for="Name">Your Name</label>
            <textarea ng-model='formData.name' type='text' placeholder='Johnathon Doe' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-9 col-centered">
            <label for="email">Email Address</label>
            <textarea ng-model='formData.email' type='email' id='nameInput' placeholder='cowboys@hotmail.com' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-9 col-centered">
            <label for="location">Location</label>
            <textarea ng-model='formData.location' type='text' id='nameInput' placeholder='Scranton, PA' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-9 col-centered">
            <div class="panel panel-primary">
                <select ng-model="formData.reason" name="reason" id="reason">
                    <option value="">Select a Reason for Contacting</option>
                    <option value="Web Development">Question About Web Development</option>
                    <option value="Graphic Design">Question About Graphic Design</option>
                    <option value="Job Inquiry">Job Inquiry</option>
                    <option value="Just Saying Hello">Just Saying Hello</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-9 col-centered">
            <textarea ng-model='formData.message' ng-keydown="add($event)" ng-maxlength="800" type='text' id='messageInput' placeholder='How may I assist you....' class="form-control comment"></textarea>
        </div>
    </div>
    <div class="row row-centered button-row">
        <a type="submit" class="button button-border" ng-click="createUser()">Click Here to Submit</a>
    </div>
</div>