<div class="container">
    <h2 class="text-center">Get in Touch with Me Today!</h2>
    <p>Whether you are curious about any projects I am currently working on, or simply introducing yourself, I enjoy continuously growing my network in the web development community. Therefore, you can easily get in touch by submitting the following information, which I ensure to respond to A.S.A.P </p>
    <div class="form-group row row-centered" ng-class="{'has-error':contactForm.nameInput.$invalid &&  contactForm.nameInput.$dirty}">
        <div class="col-xs-12 col-md-9 col-centered">
             <label for="formData.nameInput">Your Name</label>
            <input type='text' id='nameInput' name="nameInput" placeholder='John Doe' ng-model='formData.nameInput' required>
        </div>
        <span ng-class="has-error" ng-if="contactForm.nameInput.$dirty" 
        ng-if="contactForm.nameInput.$dirty"
        ng-messages="contactForm.nameInput.$error">
                <span ng-message="required">
                    User's name is required
                </span>
        </span>
    </div>
</div>
<div class="form-group row row-centered" ng-class="{'has-error':contactForm.emailInput.$invalid && contactForm.emailInput.$dirty}">
    <div class="col-xs-12 col-md-9 col-centered">
        <label for="emailInput">Email Address</label>
        <input type='email' id='emailInput' name="emailInput" placeholder='john.doe@gmail.com' ng-model='formData.emailInput' required>
    </div>
    <span ng-class="has-error" ng-if="contactForm.emailInput.$dirty" ng-messages="contactForm.emailInput.$error">
                <span ng-message="email">
                    Must be a valid email address/
                </span>
    </span>
</div>
</div>
<div class="col-xs-12 col-md-9 col-centered">
    <label for="location">Location</label>
    <input ng-model='formData.location' type='text' id='nameInput' placeholder='Scranton, PA' class="form-control name">
</div>
</div>
<div class="form-group row row-centered">
    <div class="col-xs-12 col-md-9 col-centered">
        <div class="panel panel-primary">
            <select ng-model="formData.reason" name="reason" id="reason">
                <option value="">Select a Reason for Contacting</option>
                <option value="Web Development">Question About Web Development</option>
                <option value="Graphic Design">Question About Graphic Design</option>
                <option value="Job Inquiry">Job Inquiry</option>
                <option value="Just Saying Hello">Just Saying Hello</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group row row-centered">
    <div class="col-xs-12 col-md-9 col-centered">
        <textarea ng-model='formData.message' ng-keydown="add($event)" ng-maxlength="800" type='text' id='messageInput' placeholder='How may I assist you....' class="form-control comment"></textarea>
    </div>
</div>
<div class="row row-centered button-row">
    <a type="submit" class="button button-border">Click Here to Submit</a>
</div>
</div>
</div>