<div class="panel-wrap">
    <h2>About this Single Page Application</h2>
    <p class="about-intro">
        When developing this web application, I integrated several key technologies that I spend a great deal of time with during my tenure studying web development. In order to showcase these technologies, I decided to create this state of my application.
    </p>
    <div class="panel">
        <img class="panel_img" src="images/skills/Angular-300x290.png" alt="">
        <h2 class="panel-heading">Nested States with the Help of UI-Router</h2>
        <p>
            When building this application, I took advantage of using absolute naming with. As a result of this, I have the ability to easily integrate new content into my application, as well as remote it. In turn, this application extremely scalable. In this application, every state consists of Header, Main-Content, and Footer view for the most part, with the exception of this view. This view, on the other hand, includes an additional div created to handle anchor elements at the bottom of the page, which in this case is linked to this project's GitHub repository.
        </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/mongoDB.png" alt="">
        <h2 class="panel-heading">MongoDB Database Storage in the Back-end</h2>
        <p>
             When buiding out this applicaton, I understood the importance of creating a method of users getting in touch with me. Therefore, I created a basic application form which I originally had wired to utilize FireBase's Backend-As-A-Service. Now, however, I have configured it to use MongoDB's NoSql Database. When dealing with MongoDB, I have worked to gain a great deal of knowledge of collections, and how to query databases for groups of data, as well as specific items in a collection.
        </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/skills/grunt300x300.png" alt="">
        <h2 class="panel-heading">Built Using the Grunt JavaScript Task Runner</h2>
        <p>
            Whether I am using hot-keys in Adobe Illustrator, or using Sublime text plug-ins, I am always looking to speed up my development process. Therefore, I began to integrate GruntJS into my work-flow so that I could take care of all my tasks at once. Initially, I turned to Grunt to handle my .scss files, and reload them live in the browser after having trouble with Compass as a Ruby Gem. Now, as I continue to utilize Grunt each day, I have become comfortable with how Gruntfiles are configured. In turn, I grow more fond of the task runner each day. In addition to using Grunt, I have experience in using GulpJS, however, I decided to stick with learning Grunt instead as I felt as though it was used more widely throughout the development community.
        </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/skills/susy.png" alt="">
        <h2 class="panel-heading">Angular Form Validation</h2>
        <p>
          When I made the decision to focus all of my attention towards learning JavaScript, I became faced with a decision: which JavaScript MV* framework would I focus on? 
        </p>
    </div>
    <hr class="about-hr">
</div>