<div class="panel-wrap">
    <h2>About this Single Page Application</h2>
    <p class="about-intro">
        When developing this application, I utilized a few of my favorite tools to achieve my end goal of creating a page that showcases me knowledge of web development; more specificially, my dedication to learning full stack development, while also noting my love for the use of proper design to also help in creating the best possible user experiences.
    </p>
    <div class="panel">
        <img class="panel_img" src="images/skills/Angular-300x290.png" alt="">
        <h2 class="panel-heading">Nested States with the Help of UI-Router</h2>
        <p>When building this application, I took advantage of using absolute states with<a href="https://github.com/angular-ui/ui-router" target="_blank">UI-Router</a>, which help makes this application extremely scalable. Moreover, I can easily add and remove different groups of content such as sidebars and footers by using named views tied to specific templates. In this application, every page consists of Header, Main-Content, and Footer view for the most part, with the exception of this view; Moreover, this view includes an additonal div created to handle anchor elements at the bottom of the page, which in this case is linked to this project's GitHub repository.
        </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/skills/firebase300.png" alt="">
        <h2 class="panel-heading">MongoDB &amp; Ambitious JavaScript Applications</h2>
        <p>When I was introduced to server-side programming, I worked breifly with PHP and MySql databases using <a href="http://mamp.info" target="_blank">MAMP</a> before placing the majority of my focus on client-side JavaScript, and the front-end in general. Sure enough, I soon found myself back on the server, striving to learn the inner workings of the node platform. </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/mongoDB.png" alt="">
        <h2 class="panel-heading">Real-time Data Sync with FireBase</h2>
        <p>Throughout my time learning web development, I have learned to live by the idea of using the most suitable technology for the goal at hand. Therefore, I thought it was appropriate to utilize the <a href="http://firebase.com">FireBase Backend-as-a-Service</a> (BaaS) when wiring this application's <a ui-sref="contact">contact form</a> because of how easily it FireBase makes working with data. Additionally, I immediately became a fan of FireBase after first learning about the technology last Fall, and have since spent a significant amount of time using the real-time API </p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/skills/grunt300x300.png" alt="">
        <h2 class="panel-heading">Built Using the Grunt JavaScript Task Runner</h2>
        <p>Whether I am using hotkeys in Adobe Illustrator, or using Emmett's sublime text plug-in, I am always looking to speed up my development process. Therefore, I have recently integrated <a href="http://gruntjs.com" target="_blank">GruntJS</a> into my workflow to help run different tasks which make my job as a developer easier. Initially, I turned to Grunt to handle my .scss files, and reload them live in the browser. Now, as I continue to utilize Grunt each day, I have become extremely familiar with configuring Grunt tasks, and grow more fond of the task runner each day. In this project specifically, I was able to run the Compass framework without a config.rb file using Grunt. That said, I have experience in using <a href="http://gulpjs.com/" target="_blank">GulpJS</a>however I decided to stick with learning Grunt instead as time is always off the essence.</p>
    </div>
    <div class="panel">
        <img class="panel_img" src="images/skills/susy.png" alt="">
        <h2 class="panel-heading">Custom Grid System with Susy</h2>
        <p>Over the past month or so, I have began to utilize Grunt to help me complete several different tasks in a timely manner. Specifically, I turned to Grunt to help easily grant me access to LiveReload, so I did not have to continuously restart my server upon making changes to my files. As I continue to utilize Grunt in different projects, I now know how to add and remove tasks whenever necessary, and have become extremely comfortable with using it. That said, I am sure I could achieve the same success after a few hours with <a href="http://gulpjs.com/" target="_blank">GulpJS</a>, however I was forced to choose Grunt as time is always off the essence.</p>
    </div>
    <hr class="about-hr">
</div>