 <div class="panel">
        <img class="panel_img" src="images/skills/grunt300x300.png" alt="Grunt JavaScript Task Runner">
        <h2 class="panel-heading">Built Using the Grunt JavaScript Task Runner</h2>
        <p>
            Whether I am using hot-keys in Adobe Illustrator, or using Sublime text plug-ins, I am always looking to speed up my development process. Therefore, I began to integrate GruntJS into my work-flow so that I could take care of all my tasks at once. Initially, I turned to Grunt to handle my .scss files, and reload them live in the browser after having trouble with Compass as a Ruby Gem. Now, as I continue to utilize Grunt each day, I have become comfortable with how Gruntfiles are configured. In turn, I grow more fond of the task runner each day. In addition to using Grunt, I have experience in using GulpJS, however, I decided to stick with learning Grunt instead as I felt as though it was used more widely throughout the development community.
        </p>
    </div>