<div class="panel">
	<div class="panel_img">
    <img src="images/mongoDB.png" alt="MongoDB">
    </div>
    <h2 class="panel-heading">MongoDB Database Storage in the Back-end</h2>
    <p>
        When building out this application, I understood the importance of creating a method of users getting in touch with me. Therefore, I created a basic application form which I originally had wired to utilize FireBase's Backend-As-A-Service. Now, however, I have configured my contact form use a MongoDB's NoSql Database hosted on MongoLab. In addition to MongoDB, I used the mongoose module to handle my forms data, and post it to my database. When dealing with MongoDB, I have worked to gain a great deal of knowledge of collections; and I possess knowledge regard how to they are to be manipulated using the mongo command line tool so that I can query specific data, add and remove documents from a collection, and more.
    </p>
</div>