  <div class="panel">
             <img class="panel_img" src="images/skills/Angular-300x290.png" alt="Angular 1.3">
        <h2 class="panel-heading">Angular Form Validation Using ngMessages</h2>
        <p>
          When I made the decision to focus the majority of my attention towards JavaScript, I had to make a decision regarding which JavaScript framework I was to spend my time learning. As you may have assumed, I decided on AngularJS due to the amount of developers using the framework. Also, it was comforting to know I was learning a framework that was being maintained by Google. 
        <br>
        <br>
            Roughly a year and a half after making that decision, I continue to focus on staying current with changes in Angular so it was only fitting that I utilized the ngMessages module when dealing with form validation. The ngMessages module was a brand new feature introduced with the release of Angular 1.3 in fall of last year; and I was able to leverage the power of this new module to respond to user input that I defined inside my html template. I even learned how to create directives using ng-model where I could define my own rules for validation if necessary. Additionally, this is just another example of my will to work through problems, which always results in my attainment of new knowledge.
        </p>
    </div>