    <div class="panel">
         <img class="panel_img" src="images/skills/ui-router.png" alt="Angular UI Router">
        <h2 class="panel-heading">Nested States with the Help of UI-Router</h2>
        <p>
            When building this application, I took advantage of absolute naming with the help of UI-Router. As a result of this, I have the ability to easily integrate new content into my application, as well as remove it, thus making this application extremely scalable. Before using ui-router, I previously used ngRoute to route my single page applications; however, I found that ui-router offered capabilities far superior to ngRoute, specifically when dealing with nested states.
        </p>
    </div>